.character-card{
    border: 1px solid transparent;
    margin: 1em 0;
}

.character-card img{
    width: 20%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.character-card__text{
    padding: 2% 4%;
    width: 60%;
    color: #FFFFFF;
}

.character-card__text h5{
    font-weight: 600;
}

.character-card__text h5:last-child{
    align-self: flex-end;
}

.character-info h5{
    display: flex;
    flex-wrap: nowrap;
}