*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.home-page{
    background-color: #18181A;
    min-height: 55vh;
    color: #FFFFFF;
}

.custom-container{
    width: 95%;
    margin: 0 auto;
}

.recommendation-section{
    padding-top: 6em;
}

.seasonal-section{
    padding: 4em 0 5em 0;
}
