
h1{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 800;
}

h5, p{
    font-family: 'Poppins', sans-serif;

    margin: 0;
}

.text--blue{
    color: var(--blue);
}

.detail-page{
    min-height: 600px;
    background-color: #18181A;
}

.detail-content{
    padding: 3em 0;
}

.information-section{
    gap: 5%;
    min-height: 400px;
}

.anime-detail{
    color: #FFFFFF;
    gap: 1em;
    width: 80%;
}

.information-section__second{
    gap: 0.5em;
}

.genre-container{
    gap: 0.5em;
}

.custom-container{
    width: 90%;
    margin: 0 auto;
}

.anime-poster{
    width: 18%;
    border-radius: 10px;
}

.information-section__third{
    gap: 1em;
}

.information-section__third h5{
    font-weight: 600;
}

.information-section__third p{
    margin-top: 0.1em;
}

.rating{
    gap: 0.5em;
}

.character-section{
    padding: 4em 0;
    min-height: 300px;
}

.character-section__cards{
    padding: 1em 0;
}

.load-button{
    align-self: center;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid var(--blue);
    padding: 0.5em 1.5em;
    gap: 1em;
    border-radius: 5px;
    margin-top: 1em;
}

.review-section{
    padding: 2em 0;
    min-height: 500px;
}

.review-section__review{
    gap: 2em;
    padding: 2em 0;
}

.review-buttons{
    gap: 2em;
}

.card-wrapper{
    padding: 3em 0;
}

.custom-body{
    gap: 1em;
    padding: 1em 1em 2em 1em;
}

.custom-body textarea{
    resize: none;
    font-size: 0.8rem;
}

.recommendation-section{
    padding: 2em 0;
}

.score-cbo{
    border-width: 0 0 1px 0;
    border-color: var(--blue);
    background-color: transparent;
    color: var(--blue);
}

.score-section{
    gap: 1em;
}

.custom-modal{
    background-color: #18181A;
}

.text--white{
    color: #FFFFFF;
}

.no-review-container{
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding: 1.5em 1em;
}

.no-review-container h4{
    margin: 0;
}