*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: #18181A;
}

.watchlist{
    gap: 2em;
}


.watchlist-page-wrapper{
    padding: 4em 0;
    color: #FFFFFF;
}

.watchlist-page{
    margin: 0 auto;
    width: 90%;
    gap: 4em;
}

.watchlist__title{
    font-weight: 600;
    font-size: 4vw;
}

.watchlist__second-title{
    color: #44C1E9;
}

.watchlist-header{
    opacity: 50%;
    font-weight: 600;
    display: grid;
    gap: 5%;
    grid-template-columns: 10% 35% 13% 12% 10%;
    align-items: center;
    justify-items: center;
}

.watchlist-header div{
    font-size: 1.5rem;
}

.watchlist-header > div:nth-child(1){
    grid-column: 2/2;
}

.watchlist-content{
    display: grid;
    gap: 5%;
    grid-template-columns: 10% 35% 13% 12% 10%;
    align-items: center;
    justify-items: center;
    /* align-items: center;
    justify-content: center; */
    /* gap: 5%; */
}

.watchlist-anime-poster{
    width: 125px;
    height: 200px;
    border-radius: 15px;
}

.watchlist-title{
    justify-self: start;
    font-size: 1.5rem;
    font-weight: bold;
}

.status-select{
    border-width: 0;
    background-color: transparent;
    border-radius: 0;
    border-color: #44C1E9;
    color: white;
    font-size: 1.5rem;
    width: 80%;
    cursor: pointer;
}

.status-select:focus{
    outline: none;
}

.status-select option{
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.watchlist-status{
    text-align: center;
    font-size: 1.5rem;
}

.watchlist-rating{
    text-align: center;
    font-size: 1.3rem;
}

.watchlist-rating div{
    display: flex;
    align-items: center;
}

.fa-plus{
    color: #44C1E9;
}

.delete-btn{
    border: #44C1E9 2px solid;
    border-radius: 5px;
    background: transparent;
    display: flex;
    align-items: center;
    height: 2.5vw;
    width: 2.5vw;
    justify-content: center;
}