*{
    box-sizing: border-box;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

h5, p{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.text--blue{
    color: var(--blue);
}

.anime-page{
    background-color: #18181A;
    padding: 3em 0;
    min-height: 500px;
}

.custom-container{
    width: 90%;
    margin: 0 auto;
}

.anime-data{
    padding-top: 2em;
    gap: 2%;
}

.card-container{
    width: 78%;
    display: grid;
    gap: 2.5em 0;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
}

.filter-container{
    font-family: Poppins, sans-serif;
    background-color: #383838;
    color: #FFFFFF;
    width: 20%;
}

.sort-filter{
    color: #FFFFFF;
    border-color: var(--blue);
}

.filter-container{
    align-self: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em 0.6em;
    padding: 0 1.5em 2em 1.5em;
    border-radius: 20px;
}

.filter-container h4{
    margin-top: 1em;
}

.filter-title{
    grid-column: 1 / 3;
    font-weight: 800;
}

.toggle-btn{
    background-color: transparent;
    border-radius: 5px;
    border-color: #44C1E9;
    color: #FFFFFF;
    font-family: Poppins, sans-serif;
    font-size: 0.9rem;
}

.btn-selected{
    background-color: #44C1E9;
}

.custom-select{
    background-color: transparent;
    color: #FFFFFF;
    width: 100%;
    border: #44C1E9 2px solid;
    padding: 0.4em 1em;
    border-radius: 3px;
    grid-column: 1 / 3;
    cursor: pointer;
}

.custom-select option{
    color: #000000;

}
