h1{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

h5, p{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.text--blue{
    color: var(--blue);
}

.anime-page{
    background-color: #18181A;
    padding: 3em 0;
    min-height: 500px;
}

.custom-container{
    width: 90%;
    margin: 0 auto;
}

.anime-data{
    /* gap: 2%; */
}

.card-container{
    /* width: 83%; */
    padding-top: 2em;
    display: grid;
    gap: 2em 0;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
}

.filter-container{
    font-family: Poppins, sans-serif !important;
    background-color: #383838;
    width: 15%;
}

.sort-filter{
    
    color: #FFFFFF !important;
    border-color: var(--blue) !important;
}