* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.title {
  font-weight: 600;
  font-size: 3vw;
  margin-bottom: 0.5em;
}

.title--left:first-child {
  padding-right: 3%;
}

.title--right:nth-child(2) {
  padding-right: 3%;
  padding-left: 1.5%;
}

.banner {
  gap: 5%;
}

.second-title {
  color: #44c1e9;
}

.detail {
  margin: 1em 0;
  padding: 0 3%;
  gap: 10%;
  width: 48%;
}

.bottom-detail {
  gap: 1em;
}

.anime-title {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.anime-show {
  margin-bottom: 1rem;
}

.anime-description {
  opacity: 80%;
  margin-bottom: 1rem;
}

.anime-background {
  width: 65vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.first-transparent-image {
  width: 100%;
  height: 25vw;
  background-image: linear-gradient(
    to right,
    #18181a,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  );
}

.second-transparent-image {
  width: 100%;
  height: 25vw;
  background-image: linear-gradient(
    to left,
    #18181a,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  );
}

.more-link {
  text-align: center;
}

.more-button {
  background: transparent;
  color: #ffffff;
  border: #44c1e9 2px solid;
  border-radius: 5px;
  padding: 0.4em 1.2em;
}
