header {
  position: relative;
  background-color: #252525;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  padding: 0.5em 4%;
  z-index: 10;
  width: 100%;
}

.left-nav{
  width: 30%;
}

.web-logo-wrapper{
  display: flex;
  align-items: center;
  margin-right: 3%;
}

.web-logo {
  height: 1.875rem;
}

.bar{
  padding: 0 5%;
}

.menu-bar {
  text-decoration: none;
  color: white;
}

.right-nav{
  width: 20%;
}

.user i {
  opacity: 50%;
  background-color: #c4c4c4;
  color: black;
}

.user {
  margin-left: 10%;
  color: black;
  background-color: #c4c4c4;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50px;
}

.menu-bar:hover {
  color: #44c1e9;
}
