header {
  position: relative;
  background-color: #252525;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  padding: 0.5em 4%;
  z-index: 10;
  width: 100%;
}

.left-nav{
  width: 30%;
}

.web-logo-wrapper{
  display: flex;
  align-items: center;
  margin-right: 3%;
}

.web-logo {
  height: 1.875rem;
}

.bar{
  padding: 0 5%;
}

.menu-bar {
  text-decoration: none;
  color: white;
}

.right-nav{
  width: 20%;
  gap: 10%;
}


.user {
  color: black;
  background-color: #c4c4c4;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50px;
  object-fit: cover;
}

.menu-bar:hover {
  color: #44c1e9;
}

.login-header-btn{
  background-color: var(--blue);
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
  padding: 0.2em 0.7em;
  font-weight: 600;
}