Link{
    text-decoration: none;
}

.search-card{
    padding: 1em 1em;
    gap: 5%;
}

.search-card:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.search-card:hover img{
    height: 7rem;
}

.search-card img{
    height: 3rem;
    width: 5rem;
    object-fit: cover;
    transition: height 0.2s;
}

.search-card p{
    width: 80%;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 140%;
    overflow: hidden;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}